/*  @include flex-box-set(); */
@import '@/uni_modules/uview-plus/theme.scss';
@import "@/common/style/base-style.scss";


$brand-theme-color:#EC544F;      //品牌主体红色
$brand-theme-color-aux:#576b95;  //品牌辅助色
$page-bg-color:#F7F7F7;          //页面背景色
$border-color:#e0e0e0;           //边框颜色
$border-color-light:#efefef;     //边框亮色


$text-font-color-1:#000;         //文字主色
$text-font-color-2:#676767;      //副标题颜色
$text-font-color-3:#a7a7a7;      //浅色
// 横 shu移动位置
@mixin flex-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
// align-items(竖方向) justify-content横
@mixin flex-box-set($jc:center,$ai:center) {
	@include flex-box();
	@if($jc == center){
		justify-content: center;
	}
	@if($jc == start){
		justify-content: flex-start;
	}
	@if($jc == end){
		justify-content: flex-end;
	}
	@if($jc == between){
		justify-content: space-between;
	}
	@if($ai == center){
		align-items: center;
	}
	@if($ai == start){
		align-items: flex-start;
	}
	@if($ai == end){
		align-items: flex-end;
	}
}


