// 整体样式 整体字体大小，颜色
view,text,swiper,swiper-item,input,textarea,scroll-view{
	box-sizing: border-box;
 }
image{
	width: 100rpx;
	height: 100rpx;
}
// 苹果底部区域,微信34px,68rpx
.safe-area-bottom{
  width: 100%;
  height: env(safe-area-inset-bottom);
   background: #fff;
}
 // 加载状态css
  .loadingLayout{
    padding: 30rpx 0;
    text-align: center;
  }
 
